* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.left {
  width: 25vw;
  height: 100vh;
  background-color: bisque;
  position: fixed;
  z-index: 5;
}

.right {
  width: 74vw;
  height: 270vh;
  background-color: rgb(130, 127, 127);
  position: relative;
  right: -25vw;
  color: aliceblue;
}

.my-pic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.image {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.name {
  margin-top: 8%;
  color: rgb(156, 14, 14);
}

.left-profile {
  margin-top: 10%;
  display: flex;
  text-align: left;
  justify-content: center;
}

li {
  list-style: none;
  margin: 20px;
}

a {
  text-decoration: none;
  color: black;
  font-size: larger;
}

.right {
  display: flex;
  justify-content: center;
}

.profile {
  width: 82%;
  margin-top: 10%;
  height: 100px;
  font-size: larger;
}

h3 {
  color: rgb(235, 168, 80);
}

#skills {
  margin-top: 8%;
}

.tech-skill {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tech-skills {
  padding: 0.5rem 1rem;
  margin: 1rem;
  background-color: aqua;
  color: black;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgb(146, 47, 115);
  cursor: pointer;
}

#projects {
  margin-top: 6%;
}

#Education {
  margin-top: 8%;
}

td {
  padding: 0.5rem 1rem;
}

th {
  padding: 0.5rem 1rem;
}

table {
  margin-top: 10px;
}

#achievements {
  margin-top: 6%;
}

#achievements > h3 {
  margin-bottom: 1.5%;
}

#personal-details {
  margin-top: 6%;
}

#personal-details h3 {
  margin-bottom: 1.5%;
}

#contact-details {
  margin-top: 6%;
}

#contact-details h3 {
  margin-bottom: 1.5%;
}

#contact-details a{
    color: aliceblue;
}

.projects h4{
  margin: .5rem 0 .5rem 2rem;
  color: antiquewhite;
}

.projects a{
  text-decoration: none;
  color: rgb(10, 45, 39);
  font-size : 20px;
}

.project1{
  margin: 2rem 0;
}
